/*
 General Tools
 Colors:
    link:
    header:
    paragraphs:
    markups:

 Typography
 Fonts: 'DotGothic16', sans-serif; 'Poppins', sans-serif;
    font-size:
    font-weight: Header- , paragraphs- , markups-
    font-style:
*/

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER SECTION */

header {
    position: relative;
    width: 100%;
}

header nav #branding img {
    width: 80px;
    filter: invert(100%);
}

header .text {
    position: absolute;
    top: 170px;
    left: 200px;
    width: 400px;
    z-index: 999;
}

header .pure-images .header-img {
    width: 100%;
    height: auto;
    filter: blur(1px);
    vertical-align: middle;
}

nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    backdrop-filter: blur(1px);
    -moz-backdrop-filter: blur(1px);

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: #ffffff;
    font-weight: 800;
    transform: translate(-50%);
}

/* Link Hover */
li a {
    position: relative;
}

li a::after{
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

li a:hover::after{
	height: calc(100% + 8px)
}

/* MAIN -> About */
#main-about {
    position: relative;
    background: #111;
    width: 100%;
    color: #fff;
    padding: 60px;
}

.style-around {
    position: absolute;
    top: -60px;
    right: 50px;
    background-color: #111;
    max-width: 40%;
    max-height: 40%;
    padding: 20px;
}

.article-title {
    padding: 30px;
}

.article-title img {
    position: absolute;
    top: 95px;
    left: 280px;
    max-width: 2%;
}

.article-title h1 {
    font-family: 'Arial', sans-serif;
}

.article-title h1::after {
    content: '';
    position: absolute;
    left: 106px;
    border-bottom: 3px solid #fff;
    width: 10%;
    display: block;
}

.articles {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: grid;
    height: 75vh;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.sm {
    grid-row: span 1;
    grid-column: span 1;
}

.md {
    grid-row: span 1;
    grid-column: span 1;
}

.lg {
    grid-row: span 1;
    grid-column: span 1;
}

.tll {
    grid-row: span 1;
    grid-column: span 1;
}

.wd {
    grid-row: span 1;
    grid-column: span 1;
}

.grid-style img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    vertical-align: middle;
    transition: all .3s ease-in-out;
}

.grid-style img:hover {
    cursor: pointer;
    opacity: .6;
}


#about-article {
    padding: 20px;
}

/* SERVICES */
#services {
    background: #111;
    color: #fff;
}

.inner-services {
    position: relative;
}

.inner-services img {
    max-width: 100%;
    object-fit: contain;
}

.inner-services h2 {
    position: absolute;
    top: 200px;
    left: 100px;

    color: #fff;
}

.services-content {
    display: flex;
    padding: 20px;
}

.services-content a {
    display: block;
    width: 240px;
    color: #cccfd0;
}

.dancing-font {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin-bottom: 12px;
}

.services-missions,
.left-side {
    padding: 25px;
}

.left-side a {
    transition: all .3s ease-in-out;
}

.left-side a:hover {
    color: #dada59;
}

hr {
    -webkit-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.25);
    width: 50px;
    margin: 0 auto;
}

/* CONTACT */
.parallax img {
    width: 100%;
}

#contact-article {
    background: #e7e6e6;
    max-width: 100%;
    max-height: auto;
    color: #666565;
}

.inner-contact {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.form {
    align-items: center;
    background: #f0f0f0;
    padding: 20px;
    width: 30%;

    -webkit-box-shadow: -1px 0px 8px 1px rgba(186,186,186,0.68);
    -moz-box-shadow: -1px 0px 8px 1px rgba(186,186,186,0.68);
    box-shadow: -1px 0px 8px 1px rgba(186,186,186,0.68);
}

.box-form input, label {
    display: block;
}

input {
    width: 150px;
    height: 30px;
    outline: none;
}

input:focus {
    outline:none;
}

input[type=text],
input[type="email"],
textarea {
    padding:10px;
    border:1px solid #b9b9b9;
    font-family: 'Poppins', sans-serif;
}

textarea {
    font-size: .8rem;
}

label {
    font-weight: 800;
    text-transform: uppercase;
}

#message,
#email,
#add_det {
    width: 100%;
}

#btn {
    padding: 8px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #296af7;
    text-decoration: none;
    color: #c9c7c7;
    font-size: 1rem;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
    width: 100%;
    margin-bottom: 25px;
    border: none;
}

#btn:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
}

#btn:focus,
#btn:hover {
    background: #254979;
}

.line {
    width: 50%;
    padding: 1px;
    background: #686767;
    margin: 0 auto;
}

#btn:active {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.prime-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-more {
    margin-top: 25px;
}

.info-more h4 {
    margin-bottom: 20px;
}

.info-more a {
    color: #666565;
}

.margin-space {
    margin-bottom: 15px;
}

.needed {
    color: #dc143c;
}

.fas, p {
    display:inline;
}

.fas {
    margin-right: 10px;
    padding: 5px;
    font-size: 1.25rem;
}

.icon-text {
    margin-bottom: 10px;
}

#socmed {
    padding: 10px;
}

#socmed p {
    font-size: .9rem;
}

#socmed .fab {
    font-size: 1.50rem;
    margin: 5px;
    cursor: pointer;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
    transition: all .3s ease-in-out;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #833ab4;
}

.fa-twitter:hover {
    color:#1da1f2;
}

.how-can-we-help {
    width: 800px;
    padding: 30px;
    align-self: center;
    color: #666565;
}

.how-can-we-help h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 3rem;
}

.give-margin h1 {
    margin: 15px 0;
}

.give-margin h2 {
    margin: 15px 0;
}

.give-margin {
    margin: 25px 0;
}

.border-bot {
    border-bottom: 1px solid #868686;
    margin: 10px 0;
}

/* Trusted */
.slider {
    display: flex;
    justify-content: space-around;
}

.customer-logo img {
    width: 120px;
    height: 100px;
    filter: grayscale();
}

.trusted {
    margin-top: 50px;
}

.trust-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #d823238f;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 10px 0;
}

#footer {
    text-align: center;
    background: #111;
    color: #868686;
    padding: 20px;
}